/* Common styling to all pages */
/* Navbar */
.navbar{
  background-color: #FFFFFF;
  height:110px;
}

.nav-link{
  font-family: "Tajawal";
  color:#40434E;
  font-size:1.2rem;
}

.nav-link:hover, .nav-link:active{
  color:#FC4C02;
}

/* Current page */
.nav-link.current{
  color:#FC4C02;
}

/* Brand at top left */
.navbar-brand {
  font-family: "Tajawal";
  font-size: 1.5rem;
  font-weight: bold;
  color:#40434E;
}

.navbar-brand:hover{
  color:#FC4C02;
}

/* Toggler */
.fas.fa-bars{
  color:#40434E;
  font-size:1.5rem;
}

.fas.fa-bars:hover, .fas.fa-bars:active{
  color:#FC4C02;
}

#navbarToggler{
  background-color: white;
  text-align: center;
}

/* Body begins after navbar ends */
body{
  padding-top: 110px;
}

/* Footer */
.footer{
  background-color: #BFEDEC;
  color: #40434E;
  font-family: "lato";
  text-align: center;
}

.footer a{
  font-size: 2rem;
  color: #40434E;
}

.footer a:hover, a:active{
  color: #40434E;
}

/* index.html */
/* Modal: Pop-up window to warn user */
.img-modal{
  width:100%;
  height:100%;
}

/* Intro background image, text & button */
.container-fluid.intro{
  background-image: url("../img/index15.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* Adapt the height of the image to navbar height */
  height: -webkit-calc(100vh - 65px); /* google, safari */
  height: -moz-calc(100vh - 65px); /* firefox */
  width:100vw;
  overflow:hidden;
  margin-bottom: 20px;
  padding:0px;
}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width:100%;
}

#cat1{
  font-family: "Pacifico";
  font-size: 2rem;
  color:#FC4C02;
}

#cat2, #cat3 {
  font-family: "Lato";
  font-size: 1.5rem;
  color:#40434E;
}

#cat3 {
  font-style: italic;
  font-size:1.2rem;
}

.btn.btn-intro{
  background-color: #17BEBB;
  font-family: "Lato";
  color:#FFFFFF;
  padding:15px;
  border-radius: 50px;
}

.btn.btn-intro:hover, .btn.btn-intro:active{
  background-color:#EA526F;
}

/* Cards, buttons, text (same style for prices.html) */
.card{
  background-color: #FCEADE;
  border:none;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.btn-card{
  border:solid;
  border-width: 1px;
  border-color:#17BEBB;
  background-color:#FCEADE;
  font-family: "Lato";
  color:#17BEBB;
  padding:15px;
  border-radius: 50px;
}


.btn.btn-card:hover, .btn.btn-card:active{
  background-color:#FCEADE;
  border-color:#EA526F;
  color:#EA526F;
}

.card-title{
  color: #FF8A5B;
  font-weight: 800;
  font-family: "Tajawal";
}

.card-text{
  color: #40434E;
  font-family: "Lato";
  font-style: italic;
}

/* card with background image (location) */
.card-location{
  background-image: url("../img/index24.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#cat4{
  font-family: "Pacifico";
  font-size: 2rem;
  color:#FFFFFF;
}

#cat5{
  font-family: "Lato";
  font-size: 1.5rem;
  color:#FFFFFF;
}

.btn-location{
  border:solid;
  border-width: 1px;
  border-color:#FFFFFF;
  background-color:none;
  font-family: "Lato";
  color:#FFFFFF;
  padding:15px;
  border-radius: 50px;
}

.btn.btn-location:hover, .btn.btn-location:active{
  background-color:#FFFFFF;
  border-color:#FFFFFF;
  color:#40434E;
}

/* Newsletter card */
.card-newsletter{
  background-color: #17BEBB;
}

.card-newsletter h4, .card-newsletter h5{
  color:#FFFFFF;
}

/* schedule.html */
/* Calendar */
.schedule h4{
  font-family: "Pacifico";
  color:#40434E;
  font-size: 2rem;
}

.days{
  background-color:#FCEADE;
  color:#40434E;
}

.pilates{
  border:solid;
  border-color: #FC4C02;
  border-width: 1px;
  color:#FC4C02;
}

.meditation{
  border:solid;
  border-color: #EA526F;
  border-width: 1px;
}

.yoga{
  border:solid;
  border-color:#17BEBB;
  border-width: 1px;
}

/* Responsive design for calendar */
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}

/* prices.html */
.badge{
  background-color:#FFFFFF;
  color:black;
  padding:30px;
}

.prices h2{
  font-family: "Pacifico";
  color:#40434E;
  font-size: 2rem;
}

.fas.fa-star{
  color:#17BEBB;
}

/* about.html */
.about h2{
  font-family: "Pacifico";
  color:#40434E;
  font-size: 2rem;
}

.about p{
  color:#40434E;
  font-family:"Lato";
}
